html{
    height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mensajeVacio{
    margin-top: 20px;
}


.ItemCarrito{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90 px;
    background-color: #386150;
    margin-top: 18px;
    color: white;
}
.ImagenItem{
    height: 90px;
    width: 90px;
    margin-left: 10px;
}

.BotonItem{
    margin: 10px;
}

.FueraDelMap{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    margin-bottom: 100px;
    align-content: flex-end;

}

.Letra{
    font-size: 2rem;
}
@media screen and (max-width: 409px){
    .letra-carrito-compra{
        font-size: 0.65rem !important;
    }
}

@media screen and (max-width: 550px){
    .letra-carrito-compra{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 563px){
    .Letra{
        font-size: 1.1rem;
    } 
    .Letra-eliminar{
        font-size: 0.85rem;
    }
}


.Titulo{
    text-align: center;
    color: #386150 ;
    margin-top: 35px;
    margin-bottom: 40px;
}

.CarritoVacio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BotonVacio{
    background-color:#386150;
    border-color:#386150 ;
    margin-top: 30px;
    margin-bottom: 180px;
}

@media screen and (max-width: 1075px){
    .BotonVacio{
    margin-bottom: 102px;
    }
}


@media screen and (max-width: 580px){
    .mensajeVacio{
        font-size: 1.13rem;
    }
    .titulo-vacio-carrito{
        font-size: 1.13rem;
    }
    .BotonVacio{
        margin-bottom: 136px;
        }
}
@media screen and (max-width: 307px){
    .BotonVacio{
        margin-bottom: 102px;
    }
}

@media screen and (max-width: 238px){
    .mensajeVacio{
        font-size: 1.1rem;
    }
    .titulo-vacio-carrito{
        font-size: 1.1rem;
    }
}


