.contador{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.botones{
    display: flex;
    justify-content: center;

}
.boton-izquierdo{
    background-color:#386150;
    margin-right: 12px;
}
.boton-derecho{
    background-color:#386150;
    margin-left: 12px;
}

.botonAgregar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.grupo-botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.centrar-datos-abajo{
    margin-top: 5px;
}