body{
    margin: 0;
}

.navegador{
    background-color: #386150;
}

.imagenLogo {
    height: 70px;
}

a{
    text-decoration: none !important;
    color: black !important;
    padding-right: 30px;
    font-weight: 600;
}

a:hover {
    color: white;
}


.NumeroCarrito{
    display: flex;
    flex-direction: row;
}

